<h1>Columns#index</h1>
<p>Find me in app/views/columns/index.html.erb</p>

<h1>Columns</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Color Code</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @columns.each do |column| %>
      <tr>
        <td><%= column.title %></td>
        <td style="background-color: <%= column.color_code %>;">&nbsp;&nbsp;&nbsp;</td>
        <td><%= column.description %></td>
        <td><%= link_to 'Show', column_path(column) %></td>
      </tr>
    <% end %>
  </tbody>
</table>







