<h1>Columns#show</h1>
<p>Find me in app/views/columns/show.html.erb</p>

<h1><%= @column.title %></h1>
<p><%= @column.description %></p>
<p>Color: <span style="background-color: <%= @column.color_code %>;">&nbsp;&nbsp;&nbsp;</span></p>
<%= link_to 'Back', columns_path %>

