/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* Modal CSS */

/* app/assets/stylesheets/modal.css */

/* Tailwind Override */
trix-editor {
  width: 100%;
}

trix-editor h1 {
  font-size: 1.25rem !important;
  line-height: 1.25rem !important;
  margin-bottom: 1rem;
  font-weight: 600;
}

trix-editor a:not(.no-underline) {
  text-decoration: underline;
}

trix-editor a:visited {
  color: green;
}

trix-editor ul {
  list-style-type: disc;
  padding-left: 1rem;
}

trix-editor ol {
  list-style-type: decimal;
  padding-left: 1rem;
}

trix-editor pre {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-family: monospace;
  font-size: 1.5em;
  padding: 0.5em;
  white-space: pre;
  background-color: #eee;
  overflow-x: auto;
}

trix-editor blockquote {
  border: 0 solid #ccc;
  border-left-width: 0px;
  border-left-width: 0.3em;
  margin-left: 0.3em;
  padding-left: 0.6em;
}



 @import "modal";

/* app/assets/stylesheets/modal.css */
/* app/assets/stylesheets/modal.css */
  #cardModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  #cardModal.hidden {
    display: none;
  }
  
  #cardModal .modal-content {
    padding: 20px;
    border-radius: 8px;
    width: 700px;
    height: 500px;
    position: relative;
  }
  
  /* #closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
   */


  #columnModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  #columnModal.hidden {
    display: none;
  }

  #columnModal .modal-content {
    padding: 20px;
    border-radius: 8px;
    width: 700px;
    height: auto; /* Adjust height as needed */
    position: relative;
  }
