/* app/assets/stylesheets/modal.css */
/* app/assets/stylesheets/modal.css */
  #cardModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  #cardModal.hidden {
    display: none;
  }
  
  #cardModal .modal-content {
    padding: 20px;
    border-radius: 8px;
    width: 700px;
    height: 500px;
    position: relative;
  }
  
  /* #closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
   */


  #columnModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  #columnModal.hidden {
    display: none;
  }

  #columnModal .modal-content {
    padding: 20px;
    border-radius: 8px;
    width: 700px;
    height: auto; /* Adjust height as needed */
    position: relative;
  }
